.orders-list {
  margin-top: 2rem;
  max-height: 50vh;
  overflow: auto;
  max-width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

/* FIXING SOME IPAD UI, WIDTH LIKE A CELLPHONE BUT LARGER */

@media (min-width: 480px) and (max-height: 1200px) {
  .orders-list {
    max-width: 75%;
  }
}
