.addresses-list {
    max-height: 40vh;
    overflow: auto;
    margin: 2rem 0 2rem 0;
}

.address {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
  }
  
  .address-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    text-align: left;
  }