.address-fields {
    width: 80%;
}
.street1 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  
  .street1-container, .dpt-floor {
    display: flex;
    column-gap: 0.7rem;
    position: relative;
    align-items: center;
  }
  
  .street1-container {
    justify-content: center;
  }