/* ----- IMPORTS ----- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

/* ------ BASE HTML ELEMENTS MODIFICATIONS ------- */

html, body {
  height: 100%;
  width: 100%;
}

h5 {
  font-weight: normal;
  font-size: 0.8rem;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-seriff;
}

/* ---- CLASSES START ----- */

.main{
  height: 100vh;
  width: 100%;  
  background-color: white;
}
.main-background {
  background-image: url("https://media.istockphoto.com/photos/abstract-design-element-annual-sale-shopping-season-concept-mini-picture-id1178795713?k=20&m=1178795713&s=612x612&w=0&h=NLA9JoyezoOubPwy38luYZB1rwUwQAYY_JAk2JBvcsg=");
    background-size: cover;
}


/* ------ CONTAINERS -------- */

.body-container {
  width: 100%;
}



/* ------ NAVBAR ------ */

.nav-bar {
  height: 8vh; /*Need to be replaced */
  background-color: #fcde67;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-products-search-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.products-search {
  border: none;
  border-radius: 0.4rem;
  width: 70%;
  height: 40%;
}

.products-search:focus {
  outline: 2px solid #83DBEC;
}

.products-search::placeholder {
  padding-left: 0.4rem;
}

.navbar-icon {
  cursor: pointer;
  width: 70%;
}

.cart-icon-container {
  display: flex;
  position: relative;
  max-width: 15%;
}
.cart-navbar-btn, .main-menu-btn, .filter-btn {
  background-color: transparent;
  border: none;
}
.main-menu-btn {
  display: flex; 
  max-width: 15%;
  align-items: center;
  margin-left: 0.3rem;
}
.cart-counter{
  position: absolute;
  font-size: 1.1rem;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
}

/* ---- SIDE MENU ----- */

.main-menu {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: #fcde67;
  height: 92vh;
  bottom: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: opacity 0.5s ease-in 0s;
}
.main-menu-active {
  opacity: 1;
  z-index: 2;
}
.avatar-row {
  background-color: #fcde67;
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}
.avatar-img {
  margin-left: 1rem;
  max-width: 20%;
}
.login-logout-avatar {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  flex-grow: 1;
}
.menu-rows {
  height: 100%;
  background-color: white; 
}
a {
  text-decoration: unset;
  color: unset;
}
.menu-row, .first-menu-row {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  z-index: 0;
  cursor: pointer;
}
.menu-row::after {
  content: "";
  position: absolute;
  border-top: 1px solid grey;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}


/* ---- INPUTS, LABELS & CUSTOM BORDERS ------ */

.animated-label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  transition: 0.5s;
  font-size: 0.6rem;
}

.filled-input-label {
  position: absolute;
  z-index: 0;
  top: -1.5rem;
  left: -0.5rem;
  font-size: 0.8rem;
}

.styled-input {
  background-color: transparent;
  z-index: 1;
  border: none;
  outline: none;
  position: relative;
  margin-top: 0.4rem;
  width: 100%;
}

.styled-input:focus ~ .input-border {
  width: 100%;
}

.styled-input:focus ~ .animated-label {
  top: -1rem;
  left: -0.5rem;
  font-size: 0.8rem;
}

.input-border {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #83DBEC;
  transition: 0.5s;
}

/* ------- COMMON PAGES HEADERS ------- */

.header.title {
  font-size: 1.5rem;
}

.login-signup-header, .cart-header, .address-header, .order-header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

/* ------ COMMON INPUT FIELDS ------ */

.login-signup-fields, .address-fields, .product-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  row-gap: 1.8rem;
  width: 65%;
  margin: auto;
  text-align: left;
}

.login-signup-field, .address-field, .product-field {
  flex-grow: 1;
  position: relative;
}

.submit-row {
  width: 50%;
  margin: auto;
  margin-top: 0.3rem;
  text-align: center;
}

.submit-btn {
  background-color: #fcde67;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.submit-btn:hover {
  background-color: white;
  border: 1px solid #fcde67;
}

.password-field {
  display: flex;
  align-items: center;
  height: 3rem;
}

.pswd-input-wrapper {
  flex-grow: 1;
  position: relative;
}

.show-pswd-icon {
  height: 70%;
}

.password-input {
  flex-grow: 1;
}

.required-field {
  opacity: 1;
  transition: 0.2s;
  width: 3%;
}

/* ----- ORDER, ADDRESS & PRODUCTS RELATED -------- */

.order-container, .addresses-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 85%;
  text-align: left; 
  margin: auto;
}

.products-results, .cart-products {
  overflow-y: scroll;
  max-height: 85vh;
  position: relative;
  padding: 1rem 0.4rem 1rem 0.4rem;
  margin-top: 0;
}

.product, .cart-product {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  width: 100%;
  padding: 0.7rem 0 0.7rem 0;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid grey;
}

.product-image {
  max-width: 25%;
}

.product-info {
  max-width: 50%;
  overflow: auto;
  z-index: 1;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  padding: 0.4rem 0 0.4rem 0;
}

.product-title {
  font-size: 0.8rem;
}

.product-price {
  font-size: 1.3rem;
}









/* ------- FOR THE NARROWEST DEVICES ---------------- */

@media (max-width: 480px){
  .main{
    background-position: 90%;
  }
  .nav-bar {
    height: 8vh;
  }
  .main-menu {
    width: 60vw;
  }
  
}

@media (max-width: 350px){
   .cart-counter {
      font-size: 1rem;
   }

   .modal-header-title {
    left: 22%;
 }

   .header-title-message {
    margin: unset;
   }

}

/* -------- COVERING MOST OF NORMAL AND WIDEST CELLPHONES ----------- */

@media (min-width: 480px){
  .main-menu-btn {
    max-width: 12%;
 }
 .cart-icon-container {
    max-width: 9%;
 }
 .cart-counter {
  font-size: 1.6rem;
 }
 .main-menu {
    max-width: 37%;
 }
 .login-logout-avatar {
    font-size: 1.2rem;
 }
 .modal {
    max-width: 45%;
 }
 .modal-header-title {
    left: 35%;
 }
 .close-modal {
    width: 10%;
 }
}

/* --------------- FOR TABLETS AND NOTEBOOKS ------------------ */

/* ----- MAINLY NOTEBOOKS ----- */

@media (min-width:1024px){
  .main-menu{
    max-width: 25%;
 }
 .main-menu-btn {
    max-width: 6%;
 }
 .nav-bar {
    justify-content: center;
 }
 .cart-icon-container {
    max-width: 5%;
 }
 .main-products-search-container {
    flex-grow: unset;
    width: 75%;
 }
 .filter-menu {
    max-width: 70%;
 }
 .products-results {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
 }
 .product {
    max-width: 50%;
    width: unset;
 }
}

/* FIXING SOME IPAD UI, WIDTH LIKE A CELLPHONE BUT LARGER */

@media (min-width: 480px) and (max-height: 1024px) {
  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  /* MAIN MENU */
  .main-menu {
    font-size: 1.4rem;
  }

  .main-background {
    background-position: 0rem -6rem;
  }
  /* ------------------ */

  /* LANDING PAGE */
  .first-text {
    font-size: 2rem;
  }

  .second-text {
    font-size: 3rem;
  }

  .welcome-products-btn {
    font-size: 1.5rem;
  }
  /* ------------------ */

  /* INPUTS FIELDS */
  .styled-input {
    font-size: 1.3rem;
  }

  .animated-label {
    font-size: 1.2rem;
  }

  .filled-input-label {
    position: absolute;
    z-index: 0;
  }

  .styled-input:focus ~ .animated-label, .filled-input-label {
    font-size: 1.4rem;
    top: -1.5rem;
    left: -1rem;
  }

  .submit-btn {
    font-size: 1.8rem;
  }
  
  /* PRODUCTS LIST */
  .see-as-admin {
    font-size: 1.2rem;
  }

  .total-results {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1.6rem;
  }

  .product-title {
    font-size: 1.4rem;
  }

  .filter-menu {
    font-size: 1.2rem;
  }
  .add-remove-container {
    max-width: 20%;
  }
  /* ------------------ */

  /* ADMIN PRODUCTS FORM */ 

  .ask-admin {
    font-size: 1rem;
  }

  .product-form {
    row-gap: 2.5rem;
  }

  .code-btn {
    font-size: 1.2rem;
  }

  input[type="file"] {
    padding: 1rem;
  }
  /* ------------------ */
}

/* --------- SQUARE DEVICES LIKE IPAD PRO ------- */

@media (min-width: 1024px) and (min-height: 1024px) {
    
  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  /* MAIN MENU & NAVBAR */
  .main-menu {
    font-size: 1.6rem;
  }

  .main-background {
    background-position: 0rem -6rem;
  }

  .avatar-img {
    max-width: 25%;
  }

  .login-logout-avatar {
    font-size: 1.5rem;
  }

  .cart-icon-container {
    max-width: 9%;
  }

  .main-menu-btn {
    max-width: 12%;
  }

  .products-search {
    width: 80%;
    font-size: 1.2rem;
  }

  .cart-counter {
    font-size: 2rem;
  }
  /* ------------------ */

  /* LANDING PAGE */
  .first-text {
    font-size: 3rem;
  }

  .second-text {
    font-size: 4rem;
  }

  .welcome-products-btn {
    font-size: 2.5rem;
  }
/* ------------------ */

  /* PRODUCT LIST */
  .total-results {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.6rem;
  }

  .product-title {
    font-size: 1.4rem;
  }

  .filter-menu {
    font-size: 1.4rem;
  }
  .add-remove-container {
    max-width: 25%;
  }
  /* ------------------ */

  /* MODAL */
  .modal-header-title {
    font-size: 1.6rem;
  }

  .modal-body {
    font-size: 1.4rem;
  }

  .modal-btn, .see-as-admin {
    font-size: 1.2rem;
  }
 /* ------------------ */


  /* ADMIN PRODUCT FORM */
  .ask-admin {
    font-size: 1rem;
  }
  .product-form {
    row-gap: 2.5rem;
  }
  .code-btn {
    font-size: 1.2rem;
  }
  input[type="file"] {
    padding: 1rem;
  }
  .styled-input {
      font-size: 1.3rem;
  }
  .animated-label {
    font-size: 1.2rem;
  }
  .filled-input-label {
    position: absolute;
    z-index: 0;
  }
  .styled-input:focus ~ .animated-label, .filled-input-label {
    font-size: 1.4rem;
    top: -1.5rem;
    left: -1rem;
  }
  .submit-btn {
    font-size: 2rem;
  }
  /* ------------------ */

}

/* --- FOR DEVICES WITH THE WIDTH OF A TABLET/NOTEBOOK AND VERY NARROW --- */

@media (min-width:1024px) and (max-height: 1024px) {
   .cart-icon-container {
      max-width: 5%;
   }
   .cart-counter {
      font-size: 1.2rem;
   }
   .filter-icon {
     width: 21%;
   }
   
}

/* ------- FOR DEVICES (MOST CELLPHONES) WITH THE WIDTH SHORTER THAN A NOTEBOOK/TABLET AND THE HEIGHT OF A MEDIUM SIZE CELLPHONE ----------- */

@media (min-width: 480px) and (max-width:1023px) and (max-height: 720px) {
   
    .cart-icon-container {
      max-width: 11%;
   }

   .cart-counter {
      font-size: 1.3rem;
   }
}
