.title > div {
  font-size: 1rem;
  max-width: 70%;
  margin: auto;
}
a {
  color: #EDC982;
}
  .effect-input{
    position:relative;
    margin: 1rem 0rem 0.5rem 0rem;
    width:100%;
    margin-bottom: 1.1rem;
  }
  .hasContent{
    position: absolute;
      left: 0;
      bottom: 0;
      top: -1rem;
      font-size: 0.8rem;
      font-weight:700;
      transition: 0.3s;
  }
  .form-error, .form-success{
    display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 0.5rem;
  margin: auto;
  border-radius: 0.8rem;
  padding: 0.5rem;
  }
  .form-error {
    border: 1px red solid;
  background-color: #F9B3BB;
  }
  .form-success {
    border: 1px green solid;
  background-color: #B9D39C;
  }
  .result-top {
    display: flex;
  }
  .result-header {
    flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  }
  .result-btn {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    margin-top: 0.3rem;
  }
  .result-msg {
    margin: 0.5rem 0rem 0.2rem 0.4rem;
    font-size: small;
  }
  .bar-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 0.8rem;
    width: 75%;
    padding: 1rem 0rem 1rem 0rem;
    margin: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    position: relative;
  }
  .progress-bar {
    display: block;
    position: relative;
    border-radius: 0.8rem;
    height: 1rem;
    background-color: white;
    width: 85%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .inside-bar {
    content: "";
    display: block;
    position: absolute;
    height: 1rem;
    border-radius: 0.8rem;
    background-color: green;
    width: 50%;
  }
  .percent {
    margin: auto;
    font-size: 1.5rem;
    color: green;
  }
  .msg-card {
    border-radius: 0.5rem;
    border-color: 3px solid #faf0dc;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
  }
  .msg-bottom {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
  }
  .msg-btn, #submit {
    border: none;
    background-color: #faf0dc;
    border-radius: 0.8rem;
  }
  textarea {
    border: 1px solid grey;
    border-radius: 0.8rem;
  }
  .msg-body{
    display: flex;
    flex-direction: column;
    padding:1rem;
    max-height: 100vw;
    overflow-y: scroll;
  }
  .received-msg, .sent-msg {
    display: flex;
    column-gap: 0.4rem;
  }
  .received-msg, .sent-msg {
    margin-bottom: 0.6rem;
  }
  .received-msg{
    text-align: left;
    width: 70%;
  }
  .msg-avatar {
    max-width: 100%;
  }
  .sent-msg{
    text-align:right;
    align-self: flex-end;
    width: 70%;
  }
  .username{
    font-weight: 550;
    font-style: italic;
  }
  .date{
    margin-right: 0.4rem;
  }
  .users{
    width: 85%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.4rem;
    border: 2px #faf0dc solid;
  }
  .users-header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    top:0;
    padding: 0.5rem;
    background-color: #faf0dc;
    align-content: center;
  }
.online-users{
  font-size: 0.9rem;
}
  .users-list{
    padding: 0.5rem;
    max-height: 100vw;
    overflow-y: scroll;
  }
  .online-icon {
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    height: 0.6rem;
    width: 0.6rem;
    margin-right: 0.3rem;
  }
