  ul {
    padding: 0.4rem;
  }
  
  .products-container {
    background-color: #CFCFC4;
    border-radius: 0.4rem;
    padding: 1rem 0.5rem 0.3rem 0.5rem;
    margin-top: 0.5rem;
  }
  
  .order-total {
    max-width: 60%;
    margin: auto;
    margin-top: 0.5rem;
    text-align: center;
    border-radius: 0.6rem;
    background-color: white;
  }
  
  .order-address {
    margin: 1rem 0 1.3rem 0;
  }