.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #3A3B3C;
    z-index: 2;
    opacity: 0.4;
  }
  

.modal {
    position: absolute;
    top: 50vh;
    left: 0;
    right: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    max-height: 40%;
    margin: auto;
    border-radius: 0.5rem;
    background-color: #fcde67;
    color: black;
    z-index: 3;
    font-family: 'Montserrat', sans-seriff;
  }
  
  .modal-header {
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
  .close-modal {
    float: right;
    max-width: 10%;
    padding: 0.5rem;
    margin: auto;
  }
  
  .modal-body {
    text-align: center; 
    color: black; 
    background-color: white;
    width: 100%;
    padding: 1rem 0 1rem 0;
  }
  
  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .modal-btn {
    background-color: transparent;
    color: black;
    border: 2px solid white;
    border-radius: 0.6rem;
    margin: 0.5rem;
    padding: 0.3rem;
  }