.operation-result {
    max-width: 70%;
    margin: 1.5rem auto 1.5rem auto;
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 0.5rem;
    max-height: 8vh;
    border-radius: 0.4rem;
  }

.operation-result-icon {
  max-width: 30%;
  padding: 1rem;
}

.success {
  background-color: #A3F5C2;
  border: 2px solid #46EC86;
}
.failure {
  background-color: #FFC2D9;
  border: 2px solid #FFAFCC;
}
  