.user-id {
  font-size: 0.6rem;
  margin-left: 0.2rem;
}

.user-list-email {
  font-weight: 550;
  font-size: 0.9rem;
}


/* FIXING SOME IPAD UI, WIDTH LIKE A CELLPHONE BUT LARGER */

@media (min-width: 480px) and (max-height: 1200px) {
    .user-list-header,
    .user-list-email {
      font-size: 1.5rem;
    }
    .user-id {
      font-size: 1.2rem;
    }
}

/* --------- SQUARE DEVICES LIKE IPAD PRO ------- */

@media (min-width: 1024px) and (min-height: 1024px) {
    .user-list-header,
    .user-list-email {
      font-size: 1.8rem;
    }
    .user-id {
      font-size: 1.5rem;
    }
}