body {
  background-color: #ebebeb;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
}

.container {
  width: 90%;
  background-color: white;
  margin: auto;
  padding: 0.3rem;
  border-radius: 1rem;
  margin-top: 1rem;
}
.top-bar {
  display: flex;
  justify-content: space-around;
  background-color: #faf0dc;
  padding: 0.4rem;
  border-radius: 1rem;
}
.products-menu {
  position: relative;
  display: inline-block;
}
.products-dropdown {
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: center;
  display: none;
  white-space: nowrap;
}
.showMenu {
  display: block !important;
}
.hr-menu {
  color: grey;
  border: 1px solid grey;
  margin: 0;
}
.menu-btn, .top-buttons {
  border: none;
  background-color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}
.menu-btn {
  font-size: 0.8rem;
}
.title, h6, h5, .submit-btn, .body-header{
  text-align: center;
}
.content-body {
  position: relative;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.label-styled-input {
  position: relative;
  z-index:1;
  width:100%;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid grey;
}
.label-styled-input:focus {
  outline: none;
}
.label-styled {
  font-size: 0.9rem;
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  transition: 0.3s;
  z-index:0;
}
.label-styled-input:focus ~ .label-styled {
  position: absolute;
  left: 0;
  bottom: 0;
  top: -1rem;
  font-size: 0.8rem;
  font-weight:700;
  transition: 0.3s;
}
.label-styled-input:focus {
  border-bottom: none;
}
.hasContent{
  position: absolute;
    left: 0;
    bottom: 0;
    top: -1rem;
    font-size: 0.8rem;
    font-weight:700;
    transition: 0.3s;
}
.submit-form {
  border: 0.1rem solid #faf0dc;
  background-color: transparent;
  border-radius: 0.8rem;
  font-size: 1.3rem;
}
.submit-form:hover, .random-submit:hover {
  background-color: #faf0dc;
}
#submit {
  display: flex;
  justify-content: center;
  width: 100%;
}