.login-msg {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0.8rem;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .login-msg-header{
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    font-weight: bolder;
    color: #2F3337;
    display: flex;
  }
  .login-header-msg {
    flex: 0 0 85%;
    width: 50%;
    margin: auto;
  }
  .login-header-icon{
    flex: 0 0 15%;
    max-width: 2rem;
    width: 100%;
    cursor: pointer;
  }
  .login-msg-description{
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding: 1rem;
  }