@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

@media (max-width: 500px){
  .main{
    background-position: 90%;
  }
  .nav-bar {
    height: 8vh;
  }
  .cart-counter{
    left: 40%;
    top: 39%;
  }
  .welcome-products-btn {
    left: 28%;
    bottom: 9%;
  }
  .main-menu {
    width: 60vw;
  }
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
.main{
  height: 100vh;
  width: 100%;
  background-image: url("https://media.istockphoto.com/photos/abstract-design-element-annual-sale-shopping-season-concept-mini-picture-id1178795713?k=20&m=1178795713&s=612x612&w=0&h=NLA9JoyezoOubPwy38luYZB1rwUwQAYY_JAk2JBvcsg=");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-bar {
  position: relative;
  height: 8vh; /*Need to be replaced */
  background-color: #fcde67;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-icon {
  padding: 0.5rem;
  max-height: 70%;
}
.dropdown-menu-container {
  display: flex; 
  height: 100%;
  width: 25%;
  align-items: center;
  margin-left: 0.3rem;
}
.main-menu {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: #fcde67;
  height: 92vh;
  bottom: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transition: opacity 0.5s ease-in 0s;
}
.main-menu-active {
  opacity: 1;
  z-index: 1;
}
.avatar-row {
  background-color: #fcde67;
  display: flex;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}
.avatar-img {
  margin-left: 1rem;
  max-width: 20%;
}
.login-logout-avatar {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.menu-rows {
  height: 100%;
  background-color: white; 
}
.menu-row, .first-menu-row {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.menu-row::after {
  content: "";
  position: absolute;
  border-top: 1px solid grey;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.cart-icon-container {
  display: flex;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
.cart-navbar-btn, .main-menu-btn {
  background-color: transparent;
  border: none;
}
.main-menu-btn {
  width: 100%;
  height: 100%;
}
.cart-counter{
  position: absolute;
  font-size: 1.1rem;
}
.welcome-text {
  margin-top: 9rem;
  text-align: center;
  color: white;
}
.first-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}
.second-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.welcome-products-btn {
  background-color: #fcde67;
  border-radius: 1rem;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  padding: 1rem;
}