@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}


/* ------ NAVBAR ------ */

.nav-bar {
  height: 8vh; /*Need to be replaced */
  background-color: #fcde67;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-products-search-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.products-search {
  border: none;
  border-radius: 0.4rem;
  width: 70%;
  height: 40%;
}

.products-search:focus {
  outline: 2px solid #83dbec;
}

.products-search::placeholder {
  padding-left: 0.4rem;
}

.navbar-icon {
  cursor: pointer;
  width: 70%;
}

.cart-icon-container {
  display: flex;
  position: relative;
  max-width: 15%;
}
.cart-navbar-btn,
.main-menu-btn,
.filter-btn {
  background-color: transparent;
  border: none;
}
.main-menu-btn {
  display: flex;
  max-width: 15%;
  align-items: center;
  margin-left: 0.3rem;
}
.cart-counter {
  position: absolute;
  font-size: 1.1rem;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
}

/* ---- SIDE MENU ----- */

.main-menu {
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: #fcde67;
  height: 92vh;
  bottom: 0;
  text-align: center;
  transition: opacity 0.5s ease-in 0s;
}
.main-menu-active {
  opacity: 1;
  z-index: 2;
}
.avatar-row {
  background-color: #fcde67;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avatar-img {
  margin-left: 1rem;
  max-width: 20%;
}
.login-logout-avatar {
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  flex-grow: 1;
}
.menu-rows {
  height: 100%;
  background-color: white;
}
a {
  text-decoration: unset;
  color: unset;
}
.menu-row,
.first-menu-row {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
  z-index: 0;
  cursor: pointer;
}
.menu-row::after {
  content: "";
  position: absolute;
  border-top: 1px solid grey;
  width: 80%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: -1;
}

/* ---- INPUTS, LABELS & CUSTOM BORDERS ------ */

.street1-label {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.animated-label {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 0;
  transition: 0.5s;
  font-size: 0.8rem;
}

.filled-input-label {
  position: absolute;
  z-index: 0;
  top: -1.5rem;
  left: -0.5rem;
  font-size: 1rem;
}

.optional-label {
  font-size: 0.75rem;
}

.styled-input {
  background-color: transparent;
  z-index: 1;
  border: none;
  outline: none;
  position: relative;
  margin-top: 0.4rem;
  width: 100%;
  font-size: 1.2rem;
}

.styled-input:focus ~ .input-border {
  width: 100%;
}

.styled-input:focus ~ .animated-label {
  top: -1rem;
  left: -0.5rem;
  font-size: 1rem;
}

.input-border {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #83dbec;
  transition: 0.5s;
}

/* ------- COMMON PAGES HEADERS ------- */

.header-title {
  font-size: 1.5rem;
}

.header {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

/* ------ COMMON INPUT FIELDS ------ */

.login-signup-fields,
.address-fields,
.product-form {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  row-gap: 1.8rem;
  width: 75%;
  margin: auto;
  text-align: left;
  margin-top: 3rem;
}

.login-signup-field,
.address-field,
.input-field {
  flex-grow: 1;
  position: relative;
}

.submit-row {
  width: 50%;
  margin: auto;
  margin-top: 0.3rem;
  text-align: center;
}

.submit-btn {
  background-color: #fcde67;
  box-sizing: border-box;
  color: black;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.submit-btn:hover {
  background-color: white;
  border: 1px solid #fcde67;
}

.password-field {
  display: flex;
  align-items: center;
  height: 3rem;
}

.pswd-input-wrapper {
  flex-grow: 1;
  position: relative;
}

.show-pswd-icon {
  height: 70%;
  cursor: pointer;
}

.password-input {
  flex-grow: 1;
}

.required-field {
  opacity: 1;
  transition: 0.2s;
  width: 3%;
}

/* ----- ORDER, ADDRESS & PRODUCTS RELATED -------- */

.order-container,
.addresses-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 85%;
  text-align: left;
  margin: auto;
}

.products-list {
  overflow-y: scroll;
  max-height: 85vh;
  position: relative;
  padding: 1rem 0.4rem 1rem 0.4rem;
  margin-top: 0;
  max-width: 85%;
  margin: auto;
}

.product,
.cart-product {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  width: 100%;
  padding: 0.7rem 0 0.7rem 0;
}

.product::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid grey;
}

.product-image {
  max-width: 25%;
}

.product-info {
  max-width: 50%;
  overflow: auto;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  padding: 0.4rem 0 0.4rem 0;
}

.product-title {
  font-size: 0.8rem;
}
.product-price {
  font-size: 1.3rem;
}

/* ------- FOR THE NARROWEST DEVICES ---------------- */

@media (max-width: 480px) {
  .main {
    background-position: 90%;
  }
  .nav-bar {
    height: 8vh;
  }
  .main-menu {
    max-width: 60vw;
  }
  .login-signup-fields,
  .address-fields {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .cart-counter {
    font-size: 1rem;
    top: 25%;
  }

  .header-title-message {
    margin: unset;
  }
  .login-signup-fields,
  .address-fields {
    width: 90%;
  }
}

@media (max-width: 380px) and (max-height: 700px) {
  .login-signup-fields,
  .address-fields {
    width: 90%;
  }
}

/* -------- COVERING MOST OF NORMAL AND WIDEST CELLPHONES ----------- */

@media (min-width: 480px) {
  .main-menu-btn {
    max-width: 12%;
  }
  .cart-icon-container {
    max-width: 9%;
  }
  .cart-counter {
    font-size: 1.2rem;
  }
  .main-menu {
    max-width: 37%;
  }
  .login-logout-avatar {
    font-size: 1.2rem;
  }
}

/* FIXING SOME IPAD UI, WIDTH LIKE A CELLPHONE BUT LARGER */

@media (min-width: 480px) and (max-height: 1200px) {
  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.3rem;
  }

  /* MAIN MENU */
  .main-menu {
    font-size: 1.4rem;
  }
  /* ------------------ */

  /* ------------------ */

  /* INPUTS FIELDS */

  .styled-input {
    font-size: 1.3rem;
  }

  .animated-label {
    font-size: 1.2rem;
  }

  .optional-label {
    font-size: 1rem;
  }

  .filled-input-label {
    position: absolute;
    z-index: 0;
  }

  .styled-input:focus ~ .animated-label,
  .filled-input-label {
    font-size: 1.4rem;
    top: -1.5rem;
    left: -1rem;
  }

  .submit-btn {
    font-size: 1.8rem;
  }

  /* PRODUCTS LIST */

  .total-results {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1.6rem;
  }

  .product-title {
    font-size: 1.4rem;
  }

  .add-remove-container {
    max-width: 20%;
  }

  /* ------------------ */
}

/* ------- FOR DEVICES (MOST CELLPHONES) WITH THE WIDTH SHORTER THAN A NOTEBOOK/TABLET AND THE HEIGHT OF A MEDIUM SIZE CELLPHONE ----------- */

@media (min-width: 480px) and (max-width: 1023px) and (max-height: 720px) {
  .cart-icon-container {
    max-width: 11%;
  }

  .cart-counter {
    font-size: 1.3rem;
  }
}

/* --------------- FOR TABLETS AND NOTEBOOKS ------------------ */

/* ----- MAINLY NOTEBOOKS ----- */

@media (min-width: 1024px) {
  /* MAIN & HOME UI */

  .main-menu {
    max-width: 25%;
  }
  .main-menu-btn {
    max-width: 5%;
  }
  .nav-bar {
    justify-content: center;
  }
  .cart-icon-container {
    max-width: 5%;
  }
  .main-products-search-container {
    flex-grow: unset;
    width: 75%;
  }
  .products-search {
    height: 55%;
  }

  /* PRODUCTS LIST */

  .products-list {
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    max-width: unset;
  }
  .cart-products {
    max-width: 65%;
  }
  .product {
    max-width: 50%;
    width: unset;
  }
  .product-info {
    flex-grow: 1;
  }
  .product-image {
    max-width: 20%;
  }

  /* ORDERS LIST */
  .orders-list {
    max-width: 60%;
  }
}

/* --------- SQUARE DEVICES LIKE IPAD PRO ------- */

@media (min-width: 1024px) and (min-height: 1024px) {
  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.5rem;
  }

  /* MAIN MENU & NAVBAR */
  .main-menu {
    font-size: 1.6rem;
    max-width: 30%;
  }

  .avatar-img {
    max-width: 25%;
  }

  .login-logout-avatar {
    font-size: 1.5rem;
  }

  .cart-icon-container {
    max-width: 9%;
  }

  .main-menu-btn {
    max-width: 12%;
  }

  .products-search {
    width: 80%;
    font-size: 1.2rem;
    height: 45%;
  }

  .cart-counter {
    font-size: 2rem;
  }
  /* ------------------ */

  /* ------------------ */

  /* PRODUCT LIST */

  .product-price {
    font-size: 1.6rem;
  }

  .product-title {
    font-size: 1.4rem;
  }

  .add-remove-container {
    max-width: 25%;
  }

  .products-list {
    margin: auto;
  }

  /* ------------------ */

  /* PRODUCT FORM */

  .styled-input {
    font-size: 1.3rem;
  }
  .animated-label {
    font-size: 1.2rem;
  }
  .optional-label {
    font-size: 1rem;
  }
  .filled-input-label {
    position: absolute;
    z-index: 0;
  }
  .styled-input:focus ~ .animated-label,
  .filled-input-label {
    font-size: 1.4rem;
    top: -1.5rem;
    left: -1rem;
  }
  .submit-btn {
    font-size: 2rem;
  }
  /* ------------------ */
}

/* --- FOR DEVICES WITH THE WIDTH OF A TABLET/NOTEBOOK BUT SHORTER THAN A NOTEBOOK OR A MONITOR --- */

@media (min-width: 1024px) and (max-height: 800px) {
  .cart-icon-container {
    max-width: 3.5rem;
  }
  .cart-counter {
    font-size: 1.2rem;
    top: 25%;
  }
  .required-field {
    width: 2%;
  }
}
